[diff]
    tool = vscode
[core]
    editor = code --wait
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[user]
    name = Lars Enevold
    email = iqueryable@live.com
[alias]
    ci = commit
    co = checkout
    st = status